{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body" style="background-color:#abf2d4">    
        <h1 class="display-3 text-center"> Djando App : Controlador de Tareas </h1>
        <h2 class="display-6 text-center"> Crea tus tareas para tu dia a dia </h3>
        <div class="text-center">
            <a class="btn btn-primary " href="/signup/">
            Registrarse
            </a>
            <a class="btn btn-success " href="/signin/"> 
            Iniciar Sesion
            </a>
        </div>   
    </section>
</main>


{% endblock %}   
