{% extends 'base.html' %}

{% block content %}
<h1> TAREAS COMPLETADAS POR EL USUARIO 👍  </h1>
<ol class="list-group list-group-numbered  ">
    {% for task in tasks%}
    <li class="list-group-item ">
        <header class="d-flex justify-content-between">
            <h4 style=margin:0; class="fw-semibold"> {{ task.title }} </h4>
            <h5 class="text fw-semibold">{{ task.user.username }}</h5>
    </header>
        <p style=margin:0;> {{ task.description }} </p>
        <p style=margin:0;>{{ task.datecompleted|date:'M j Y:i'}}</p>
    </li>    
    </a>
    {% endfor %}
</ol>

{% endblock %}   
